@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@300&display=swap');

body {
    font-family: "Playwrite MX", cursive;
}

.titolo {
    color: #2a2936;
    text-align: center;
    font-size: 40px;
}

.img {
    display: flex;
    width: 50%;
    margin: 0 auto;
}
